@import "lib/style/fonts.scss";
@import "lib/style/vars.scss";

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body, html {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

p, h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background: $white-color;
  &-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 100ms ease;
    border: solid whiteSmoke 4px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
