@import 'lib/style/vars.scss';

.page {
  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  width: 100%;
}



.content-wrapper {
  width: 100%;
  margin: 0 auto;
  flex: 1 1 auto;

  padding-top: 7.5rem;
}
//.slider {
//  margin-top: 7.5rem;
//}
.header-wrapper {
  width: 100%;
  flex: none;
}

.footer-wrapper {
  width: 100%;
  flex: none;
}

.page-main {
  width: 100%;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  transition: padding-left 0.2s ease;
}

.container {
  max-width: 1290px !important;
  margin: 0 auto !important;
  padding: 4rem;
  position: relative;
  @media screen and (max-width: $break-md) {
    padding: 2rem 1.2rem 5rem;
  }
  @media screen and (max-width: $break-lg){
    padding: 2rem 0.7rem 2rem;
  }
  &-table {
    overflow-x: auto !important;
  }
}

@mixin overlay($opacity) {
  .information-block_overlay {
    background-color: rgba(0,0,0,$opacity);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.information-blocks {
  max-width: 1290px;
  margin: 0 auto;
  color: $white-color;
  display: grid;
  grid-template-columns: 290px 1.5fr 1fr 1.5fr;
  grid-template-rows: 320px 0 320px;
  grid-gap: 20px;
  cursor: default;
  grid-template-areas:
          "new_collections season_sale season_sale new_arrivals"
          "new_collections season_sale season_sale new_arrivals"
          "new_collections subscribe all_catalog all_catalog"
          "new_collections subscribe all_catalog all_catalog";

  @media only screen and (max-width: 1180px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 320px 0 320px;
    grid-template-areas:
            "new_collections season_sale new_arrivals"
            "new_collections season_sale new_arrivals"
            "new_collections subscribe all_catalog"
            "new_collections subscribe all_catalog";
  }
  @media only screen and (max-width: 760px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 250px);
    grid-template-areas:
            "new_arrivals new_arrivals"
            "new_collections season_sale"
            "subscribe all_catalog";
  }
  @media only screen and (max-width: 700px) {
    padding-top: 20px;
  }
  @media only screen and (max-width: 550px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 220px);
    grid-template-areas:
            "new_arrivals"
            "new_collections"
            "season_sale"
            "all_catalog"
            "subscribe";
  }
}

.information-block {
  background-color: #ebebeb;
  box-shadow: none;
  transition: box-shadow 300ms ease;
  &:hover {
    box-shadow: 0 0 20px -1px rgba(0,0,0,.5);
  }
  &.new_collections {
    grid-area: new_collections;
    position: relative;
    overflow: hidden;
    @include overlay(.1);
    .new_collections_image {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: url(/static/images/season.png) 50% 100% / cover no-repeat;
    }
    .collection_info {
      text-align: center;
      text-transform: uppercase;
      z-index: 999;
      .collection_name {
        margin: 30px;
        padding: 1rem 0;
        background-color: rgba(0, 0, 0, .2);
        color: $white-color;
        h2 {
          font-size: 1.5rem;
          font-family: $font-semibold-serif;
          letter-spacing: 1.5px;
        }
        p {
          font-size: 0.8rem;
          font-family: $font-regular-serif !important;
          display: block;
          margin: 5px;
        }
      }

    }
  }
  &.season_sale {
    grid-area: season_sale;
    background-color: $red-color;
    &:hover {
      transform: perspective(500px) rotateX(-5deg) rotateY(0deg) rotateZ(0deg);
    }
    .season_sale_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 100%;
      font-family: $font-bold;
      &:hover {
        & h1 {
          color: $black-color;
          animation-name: scal1;
          animation-duration: 1s;
        }
        & p {
          color: $black-color;
        }
      }
      p, h1 {
        color: $white-color;
        text-transform: uppercase;
        transition: color .3s ease;
      }
      p {
        letter-spacing: 5px;
        line-height: 2;
        font-size: 16px;
      }
      h1 {
        line-height: 0.8;
        font-weight: 900;
        font-size: 100px;
      }
    }
  }
  &.new_arrivals {
    position: relative;
    grid-area: new_arrivals;
    overflow: hidden;
    @include overlay(.3);
    .new_arrivals_image {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(/static/images/new_arrivals.jpg);
      background-size: cover;
    }
    .arrivals_info {
      text-align: center;
      font-family: $font-regular-serif;
      padding: 1rem 0;
      width: 70%;
      background-color: rgba(0, 0, 0, .3);
      z-index: 999;
      h1 {
        font-size: 1.2rem;
        color: $white-color;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }
  }
  &.subscribe {
    position: relative;
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/static/images/subscribe.jpg);
    background-size: cover;
    @include overlay(.2);
    .subscribe-form {
      z-index: 999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_input {
        width: 179px;
        input {
          width: 100%;
          border: none;
          background: transparent;
          color: $white-color;
          font-family: $font-regular-serif !important;
          padding-bottom: 0.3rem;
          border-bottom: 1px solid rgba(255,255,255,.5);
          transition: opacity 300ms ease;
          &::placeholder {
            color: rgba(255,255,255,.7);
            opacity: 1;
            transition: opacity 100ms ease;
          }
          &:focus {
            outline: none;
            &::placeholder {
              opacity: 0;
            }
          }
        }
      }
      &_btn {
        margin-top: 1rem;
        width: 179px;
        button {
          width: 100%;
          height: 3rem;
          border-radius: 1.3rem;
          border: none;
          background-color: #333333;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          color: $white-color;
          cursor: pointer;
          font-family: $font-semibold-serif !important;
          transition: color 200ms linear, background-color 200ms linear;
          svg {
            font-size: 1rem;
            margin-left: 0.2rem;
          }
          &:hover {
            background-color: $white-color;
            color: #333333;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  &.all_catalog {
    grid-area: all_catalog;
    position: relative;
    overflow: hidden;
    @include overlay(.05);
    .all_catalog_image {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(/static/images/catalogs.jpg);
      background-size: cover;
    }
    .catalog_info {
      text-align: center;
      z-index: 999;
      background-color: rgba(0, 0, 0, .5);
      padding: 1.5rem;
      h2 {
        font-family: $font-regular-serif;
        font-size: 18px;
        color: $white-color;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
}
.section-title-container {
  text-align: center;
  cursor: default;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(147,147,147,.3);
    position: absolute;
    bottom: 0;
  }
  .section_subtitle {
    font-family: $font-regular-serif;
    font-size: 0.8rem;
    color: #937c6f;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .section_title {
    font-family: $font-bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: #2f2f2f;
    margin-top: -4px;
  }
}
.rub-sign{
  margin-left: 0.3em;
  line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid $lightblue-color;
  display: inline-block;
}

.product-card {
  width: 100%;
  &_img {
    height: 400px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1279px){
      height: 500px;
    }
    @media screen and (max-width: 959px){
      height: 600px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    &:hover .product-card_learn-more {
      bottom: 50px;
    }
    .product-card_learn-more {
      position: absolute;
      z-index: 99;
      bottom: -50px;
      left: 50%;
      font-family: $font-regular-serif;
      font-size: 1rem;
      transform: translateX(-50%);
      background-color: $white-color;
      color: $black-color;
      border-radius: 20px;
      padding: 0.6rem 1.5rem;
      transition: bottom 300ms linear, color 0.2s ease, background-color 0.2s ease;
      &:hover {
        color: $white-color;
        background-color: lighten($black-color, 15%);
      }
    }
  }
  &-content {
    position: relative;
    padding: 1rem 0;
  }
  &_name {
    display: block;
    font-family: $font-regular-serif;
    color: darken($lightgray-color, 10%);
    transition: color .2s linear;
    &:hover {
      color: $lightblue-color;
    }
  }
  &_discount {
    position: absolute;
    top: -0.7rem;
    left: 1rem;
    cursor: default;
    background: $red-color;
    padding: 0.2rem 0.5rem 0.2rem;
    border-radius: 3px;
    color: $white-color;
    text-transform: uppercase;
    font-family: $font-semibold-serif !important;
    font-size: 0.9rem;
  }
  &_price {
    margin-top: 0.5rem;
    font-family: $font-semibold-serif !important;
    font-size: 1.1rem;
    cursor: default;
    &__old, &__new, &__current {
      &:after {
        content: ' руб.'
      }
    }
    &__old {
      font-size: 0.8rem;
      font-family: $font-semibold-serif !important;
      text-decoration: line-through;
      &:after {
        content: ' руб.'
      }
    }
    &__new {
      margin-left: 0.7rem;
      font-size: 1.1rem;
      font-family: $font-semibold-serif !important;
      color: $red-color;
    }
  }
  &_favorite {
    position: absolute;
    right: 0;
    top: 1rem;
    cursor: pointer;
    transition: color 0.2s linear;
    &:hover {
      color: $lightblue-color;
    }
  }
}
